In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_table("./data/meta.txt")
data.head(50)

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,715898,5,S,7,37,40032.0,.71,117.280,33.880183,-118.021787,0.430,ML,3,PHOEBE,2029,NaN,NaN,NaN
1,715900,5,S,7,37,40032.0,1.06,117.630,33.882892,-118.026822,NaN,OR,1,VALLEY VIEW,3255,NaN,NaN,NaN
2,715901,5,N,7,37,40032.0,1.11,117.743,33.883400,-118.027451,NaN,OR,1,VALLEY VIEW,3268,NaN,NaN,NaN
3,715903,5,N,7,37,69154.0,1.56,118.193,33.886992,-118.034125,NaN,OR,1,ALONDRA,3269,NaN,NaN,NaN
4,715906,5,S,7,37,52526.0,3.28,119.850,33.900669,-118.059422,NaN,OR,1,ROSECRANS,3252,NaN,NaN,NaN
5,715907,5,S,7,37,52526.0,3.62,120.190,33.903961,-118.064046,NaN,OR,1,FIRESTONE,3251,NaN,NaN,NaN
6,715908,5,S,7,37,52526.0,4.28,120.850,33.911074,-118.071686,NaN,OR,1,SAN ANTONIO/NORWALK,3090,NaN,NaN,NaN
7,715910,5,N,7,37,52526.0,4.58,121.213,33.913564,-118.075867,NaN,OR,1,NORWALK SB,3273,NaN,NaN,NaN
8,715913,5,S,7,37,52526.0,5.22,121.790,33.920763,-118.082501,NaN,FR,1,PIONEER,2581,NaN,NaN,NaN
9,715918,5,N,7,37,52526.0,6.2,122.833,33.933110,-118.091005,1.075,ML,3,ORR - DAY,2579,NaN,NaN,NaN
10,715920,5,S,7,37,52526.0,6.64,123.210,33.938544,-118.094941,1.290,ML,4,S OF 605,2296,NaN,NaN,NaN
11,715923,5,S,7,37,19766.0,8.21,124.780,33.956897,-118.110532,NaN,OR,1,LAKEWOOD NB,3045,NaN,NaN,NaN
12,715924,5,N,7,37,19766.0,8.27,124.903,33.957583,-118.111199,NaN,OR,1,LAKEWOOD NB,3586,NaN,NaN,NaN
13,715925,5,S,7,37,19766.0,8.35,124.920,33.958225,-118.112390,NaN,OR,1,LAKEWOOD SB,3044,NaN,NaN,NaN
14,715926,5,N,7,37,19766.0,8.41,125.043,33.958910,-118.113036,NaN,OR,1,LAKEWOOD SB,3587,NaN,NaN,NaN
15,715927,5,N,7,37,19766.0,8.86,125.493,33.963200,-118.118900,NaN,OR,1,PARAMOUNT,3588,NaN,NaN,NaN
16,715928,5,S,7,37,19766.0,8.93,125.500,33.963867,-118.119870,NaN,OR,1,PARAMOUNT NB,3043,NaN,NaN,NaN
17,715929,5,S,7,37,19766.0,9.5,126.070,33.971707,-118.123095,0.470,ML,4,GUATEMALA,2023,NaN,NaN,NaN
18,715930,5,N,7,37,19766.0,9.5,126.133,33.971763,-118.122905,0.505,ML,4,GUATEMALA,2023,NaN,NaN,NaN
19,715932,5,S,7,37,14974.0,9.87,126.440,33.976460,-118.125953,NaN,OR,1,SLAUSON,3332,NaN,NaN,NaN
20,715933,5,N,7,37,14974.0,10.33,126.963,33.981839,-118.130679,0.425,ML,4,GREENWOOD,2610,NaN,NaN,NaN
21,715935,5,S,7,37,14974.0,10.76,127.330,33.986224,-118.136014,NaN,OR,1,GARFIELD,3331,NaN,NaN,NaN
22,715937,5,S,7,37,14974.0,11.54,128.110,33.994935,-118.144690,NaN,OR,1,WASHINGTON 1,3330,NaN,NaN,NaN
23,715938,5,N,7,37,14974.0,12.18,128.813,34.002541,-118.150997,0.545,ML,4,GASPAR,2021,NaN,NaN,NaN
24,715941,5,S,7,37,14974.0,12.68,129.250,34.007592,-118.157266,NaN,OR,1,ATLANTIC,3647,NaN,NaN,NaN
25,715944,5,N,7,37,14974.0,13.35,129.983,34.013676,-118.166091,0.323,ML,4,FERRIS,2537,NaN,NaN,NaN
26,715947,5,S,7,37,14974.0,13.67,130.240,34.015325,-118.171270,0.495,ML,3,S OF 710,2536,NaN,NaN,NaN
27,715949,5,N,7,37,NaN,14.35,130.983,34.020076,-118.181702,NaN,OR,1,DOWNEY,3153,NaN,NaN,NaN
28,715950,5,S,7,37,NaN,14.763,131.333,34.020088,-118.189029,NaN,OR,1,DITMAN,3151,NaN,NaN,NaN
29,715952,5,S,7,37,44000.0,15.14,131.710,34.020961,-118.195456,NaN,OR,1,CALZONA,3150,NaN,NaN,NaN
30,715953,5,N,7,37,44000.0,15.14,131.773,34.021135,-118.195375,NaN,OR,1,CALZONA,3154,NaN,NaN,NaN
31,715957,5,S,7,37,44000.0,16.49,133.060,34.029033,-118.217141,NaN,OR,1,EIGHTH,3148,NaN,NaN,NaN
32,715958,5,S,7,37,44000.0,17.44,134.010,34.041407,-118.218373,NaN,OR,1,FOURTH,3629,NaN,NaN,NaN
33,715959,5,S,7,37,44000.0,17.93,134.500,34.047784,-118.214638,NaN,OR,1,CEASAR CHAVEZ,3628,NaN,NaN,NaN
34,715961,5,S,7,37,44000.0,18.59,135.160,34.057314,-118.214378,NaN,OR,1,MISSION,3625,NaN,NaN,NaN
35,715963,5,S,7,37,44000.0,19.45,136.020,34.069368,-118.217386,NaN,OR,1,BROADWAY,3624,NaN,NaN,NaN
36,715964,5,S,7,37,44000.0,20.33,136.900,34.080943,-118.222370,NaN,OR,1,AVE 26,3146,NaN,NaN,NaN
37,715966,5,S,7,37,44000.0,20.7,137.270,34.083198,-118.228213,NaN,OR,1,DUVALL,3094,NaN,NaN,NaN
38,715967,5,N,7,37,44000.0,21.1,137.733,34.086881,-118.233611,NaN,OR,1,RIVERSIDE,3036,NaN,NaN,NaN
39,715968,5,S,7,37,44000.0,21.93,138.500,34.095413,-118.243957,NaN,OR,1,STADIUM,3095,NaN,NaN,NaN
40,715969,5,N,7,37,44000.0,21.8,138.433,34.094038,-118.242314,NaN,OR,1,STADIUM WAY,3037,NaN,NaN,NaN
41,715970,5,N,7,37,44000.0,23.2,139.833,34.108429,-118.258982,NaN,OR,1,FLETCHER,3038,NaN,NaN,NaN
42,715971,5,S,7,37,44000.0,23.58,140.150,34.111314,-118.264526,NaN,OR,1,GLENDALE,3096,NaN,NaN,NaN
43,715972,210,E,7,37,3386.0,R40.7,40.989,34.120764,-117.888430,NaN,OR,1,CITRUS NB,4269,NaN,NaN,NaN
44,715973,5,S,7,37,44000.0,24.168,140.738,34.118291,-118.270166,NaN,OR,1,LOS FELIZ,3097,NaN,NaN,NaN
45,715974,5,S,7,37,30000.0,27.66,144.230,34.162761,-118.294541,NaN,OR,1,WESTERN EB,3101,NaN,NaN,NaN
46,715975,5,S,7,37,30000.0,27.7,144.270,34.163197,-118.294970,NaN,OR,1,WESTERN WB,3102,NaN,NaN,NaN
47,715976,5,N,7,37,30000.0,27.77,144.403,34.164088,-118.295568,NaN,OR,1,WESTERN EB,3220,NaN,NaN,NaN
48,715977,5,N,7,37,30000.0,27.92,144.553,34.165484,-118.297530,NaN,OR,1,WESTERN WB,3219,NaN,NaN,NaN
49,715978,5,S,7,37,30000.0,28.2,144.770,34.167992,-118.301293,NaN,OR,1,ALAMEDA EB,3103,NaN,NaN,NaN

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         4801 non-null   int64
 1   Fwy        4801 non-null   int64
 2   Dir        4801 non-null   object
 3   District   4801 non-null   int64
 4   County     4801 non-null   int64
 5   City       4310 non-null   float64
 6   State_PM   4801 non-null   object
 7   Abs_PM     4801 non-null   float64
 8   Latitude   4796 non-null   float64
 9   Longitude  4796 non-null   float64
 10  Length     2717 non-null   float64
 11  Type       4801 non-null   object
 12  Lanes      4801 non-null   int64
 13  Name       4801 non-null   object
 14  User_ID_1  4801 non-null   int64
 15  User_ID_2  0 non-null      float64
 16  User_ID_3  0 non-null      float64
 17  User_ID_4  0 non-null      float64
dtypes: float64(8), int64(6), object(4)
memory usage: 675.3+ KB

In [11]:
data.describe()

,ID,Fwy,District,County,City,Abs_PM,Latitude,Longitude,Length,Lanes,User_ID_1,User_ID_2,User_ID_3,User_ID_4
count,4801.000000,4801.000000,4801.0,4801.000000,4310.00000,4801.000000,4796.000000,4796.000000,2717.000000,4801.000000,4801.000000,0.0,0.0,0.0
mean,745982.981879,177.959592,7.0,41.099979,41699.29420,34.609625,34.066205,-118.240227,0.607464,2.287648,3442.486149,NaN,NaN,NaN
std,25156.901035,194.351865,0.0,16.930692,19758.70544,39.331907,0.145792,0.257796,0.556273,1.534449,808.510143,NaN,NaN,NaN
min,715898.000000,2.000000,7.0,37.000000,394.00000,0.000000,33.748932,-119.293883,0.009000,1.000000,160.000000,NaN,NaN,NaN
25%,717374.000000,14.000000,7.0,37.000000,32548.00000,11.008000,33.958618,-118.394435,0.355000,1.000000,2916.000000,NaN,NaN,NaN
50%,761149.000000,105.000000,7.0,37.000000,44000.00000,22.441000,34.067982,-118.228192,0.475000,1.000000,3389.000000,NaN,NaN,NaN
75%,768304.000000,210.000000,7.0,37.000000,48648.00000,40.002000,34.154890,-118.084403,0.625000,4.000000,4139.000000,NaN,NaN,NaN
max,775774.000000,710.000000,7.0,111.000000,90310.00000,194.617000,34.709779,-117.695126,5.000000,6.000000,6508.000000,NaN,NaN,NaN

In [14]:
data.shape

(4801, 18)

In [15]:
data.tail()

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
4796,775752,110,S,7,37,44000.0,R1.58,1.580,33.758642,-118.289784,2.080,ML,4,JS GIBSON,3829,NaN,NaN,NaN
4797,775762,47,S,7,37,44000.0,R0,0.234,33.748932,-118.290236,0.200,ML,2,CONNECTOR TO 110,2564,NaN,NaN,NaN
4798,775763,47,S,7,37,44000.0,R0,0.234,33.748932,-118.290236,0.234,ML,3,CONNECTOR TO 110,2564,NaN,NaN,NaN
4799,775773,110,N,7,37,44000.0,2.65,2.580,33.770321,-118.280319,0.595,ML,4,S/O HARRY BRIDGES,3837,NaN,NaN,NaN
4800,775774,110,S,7,37,44000.0,2.65,2.580,33.770329,-118.280609,3.000,ML,4,S/O HARRY BRIDGES,3837,NaN,NaN,NaN

In [3]:
data.to_csv("metadata.csv")